

<div class='root_page'>
  <h1 class='login'>Log In </h1>
    <div class='login_page'>
      <form action="/login" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="test" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit">
      </form>
    </div>
    <br>
    <br>

</div>
